<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tagr.tv/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tagr.tv/index.php [L]
</IfModule>
